---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Jon & Projects"
	description="A brief description of life and work"
	pubDate={new Date('March 18 2024')}
	heroImage="/images/qianzi.png"
>
	<p>
		Hi, I'm Jon.
    I enjoy making software of all types. Typically in the 
    <a href="https://en.wikipedia.org/wiki/BEAM_(Erlang_virtual_machine)">BEAM</a> ecosystem. 
  </p>
  <p>
    Recently I've been working on a project called <a href="https://github.com/jom-hedges/micro_park">Micro Park</a>,
    a website where visitors can view user submitted videos of parks and other places.
  </p>
  <p>
    Bicycling is fun too.
	</p>
</Layout>
