---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Jon & Projects"
	description="A brief description of life and work"
	pubDate={new Date('March 18 2024')}
	heroImage="/images/qianzi.png"
>
	<p>
		Hi, I'm Jon.
    I enjoy making software of all types. Typically in the 
    <a href="https://en.wikipedia.org/wiki/BEAM_(Erlang_virtual_machine)">BEAM</a> ecosystem. 
  </p>
  <p>
    Recently I've been working on a project called <a href="https://github.com/jom-hedges/micro_park">Micro Park</a>,
    a website where visitors can view user submitted videos of parks and other places.
  </p>
  
  <p>
    In addition to making software and web apps, I publish a magazine called <a href="https://earshrub.tv">Earshrub</a>, 
    which focuses on literature, music, and culture. I also collaborate with <a href="https://1weekcritique.com">1-Week Critique</a>, 
    where I have helped design and work on web-related things.
  </p>  

  <p>
    Bicycling is fun too.
	</p>
</Layout>
