---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<p>Hi, I'm Jon</p>
			<p>
				I make things in software, and enjoy programming languages and ideas behind them.
			</p>
			<p>
				I'm also the editor-in-chief of <a href="https://earshrub.tv">Earshrub</a>, a magazine published by Osmanthus.
			</p>
			<video controls width="250">
				<source src="/videos/reflections.mp4" type="video/mp4" />
			</video>
				<button>
			  	 
  			</button>
			</p>
			<p>
				
			</p>
		</main>
		<Footer />
	</boady>
</html>
