---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
      <div class="video_container">
			  <video controls width="250" autoplay muted loop>
				  <source src="/videos/reflections.mp4" type="video/mp4" />
  			</video>
			</div>
        <button>
			  	 
  			</button>
			<p>
				
			</p>
		</main>
		<Footer />
	</body>
</html>

<style>
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.video_container {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

video {
  transform: rotate(270deg);
  max-width: 100%;
  max-height: 100vh;
}

</style>
