---

---
<body>
    <div class="wrapper">
        <!-- Primary Layout -->
        <!-- DOT GRID -->
        <div class="instructions">
            <h1>hjmg</h1>
            <p>Click the a shape, then drag to any second shape. Repeat</p>
        </div>
        <div class="game-container">
            <div class="game">
                <div class="dot-grid">
                    <!-- Dots will be generated here -->
                </div>
                <div class="shape-container">
                    <!-- Shapes will be generated here -->
                </div>
            </div>
        </div>
        <! -- Text Layer -->
        <div class="text-layer">
            <h1>Iterate to navigate</h1>
        </div>
            <p class="story">
                <span class="highlight">Rabbit Hole</span> is a game about exploring the unknown, where each choice leads you deeper into a maze of possibilities. 
                <br>
                <span class="highlight">Click</span> on a shape to start your journey, and <span class="highlight">drag</span> to connect with another shape. 
                <br>
                Each connection opens new paths, leading you further into the rabbit hole.
                <!-- Text will generate here with JavaScript -->
            </p>
        </div>
    </div>
</body>